doctype html
html
	head
		title= title
		link(rel='icon' type='image/svg+xml' href='/SVGs/airlock.svg')
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			.flex-container
				a(href='/')
					h1 fermentr

			nav
				ul
					li.topmenu
						include ../public/SVGs/nav-menu-icon.svg
						ul.submenu
							if (user)
								li
									a(href="/user/dashboard") Dashboard
								li
									a(href="/fermentation/add") Add Fermentation
								li
									a(href="/device/add") Register Device
							else
								li
									a(href="/about") About Fermentr
								li
									a(href="https://github.com/BillyTurvey") Contact
									
					li.topmenu 
						include ../public/SVGs/nav-user-icon.svg
						ul.submenu 
							if (user)
								li
									p.logged-in-as Logged in as 
									p !{user.name}
								li
									a(href="/user/account") Account details
								li
									form(action="/user/logOut" method="POST")
										button(value="Submit") Log Out
							else
								li
									a(href="/user/logIn") Log In 
								li 
									a(href="/user/register") User Registration

		block messages 
			if locals.flashes
				- const categories = Object.keys(locals.flashes)
				each category in categories
					each message in flashes[category]
						article.flash(class=`flash--${category}`)
							p.flash__text!= message
							button.flash__remove(onClick='this.parentElement.remove()') &times;
									
		block content
		
		footer
			ul
				li
					a(href="/about") About Fermentr
				li
					a(href="https://github.com/BillyTurvey") Contact
				li
					a(href="/faq") FAQ
				if (!user)
					li
						a(href="/register") Register
