doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/sakura.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			a(href='/')
				h1 fermentr.io
			nav
				ul
					if (user)
						li
							a(href="/user/dashboard") Dashboard
					else
						li 
							a(href="/user/register") User Registration
				if (user)
					p Logged in as !{user.name}.
					form(action="/user/logOut" method="POST")
						button(value="Submit") Log Out
				else
					a(href="/user/logIn") Log In 

		block messages 
			if locals.flashes
				.inner.inner--flashes
					.flash-messages
						- const categories = Object.keys(locals.flashes)
						each category in categories
							each message in flashes[category]
								.flash(class=`flash--${category}`)
									p.flash__text!= message
									button.flash__remove(onClick='this.parentElement.remove()') &times;
									
		block content
