doctype html
html
	head
		title= title
		link(rel='icon' type='image/svg+xml' href='/SVGs/airlock.svg')
		link(rel='stylesheet', href='/stylesheets/sakura.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			a(href='/')
				h1 fermentr
			nav
				ul
					if (user)
						li
							a(href="/user/dashboard") Dashboard
						li
							a(href="/user/account") Account
					else
						li 
							a(href="/user/register") User Registration
					li
						a(href="/about") About
				if (user)
					p Logged in as !{user.name}.
					form(action="/user/logOut" method="POST")
						button(value="Submit") Log Out
				else
					a(href="/user/logIn") Log In 

		block messages 
			if locals.flashes
				- const categories = Object.keys(locals.flashes)
				each category in categories
					each message in flashes[category]
						article.flash(class=`flash--${category}`)
							p.flash__text!= message
							button.flash__remove(onClick='this.parentElement.remove()') &times;
									
		block content
