extends ../layout

include ../mixins/_logInForm

block content
	article.flex-grow
		h1 Log In
		+logInForm

		hr

		a(href="/user/register") Register as a new user.
		br
		a(href="/user/resetPassword") Reset password.
