extends ../layout

include ../mixins/_logInForm

block content
	.inner
		h2 Log In
		+logInForm

		a(href="/user/register") Register as a new user.
		br
		a(href="/user/resetPassword") Reset password.
