extends ../layout 

block content
	article.flex-grow
		h1 Register

		form(action="/user/register" method="POST")

			label(for="name") Name
			input(type="text" name="name" value=name||'' required)

			label(for="email") Email
			input(type="text" name="email" value=email||'' required)

			label(for="registrationPassword") Registration Password 
				span.small-copy.normal-weight Only invited users may register at this time.
			input(type="password" name="registrationPassword" required)

			label(for="password") Password 
				span.small-copy.normal-weight Must be longer than 10 characters
			input(type="password" name="password" required)

			label(for="passwordConfirm") Confirm Password
			input(type="password" name="passwordConfirm" required)

			button(value="Submit") Submit

		hr
		
		a(href="/user/logIn") Already have an account? Log in here.
