:root {
	--accent: hsla(37, 66%, 65%, 1);
	--accent-hover: hsla(37, 75%, 55%, 1);
	--dark: hsla(225, 14%, 20%, 1);
	--dark-hover: hsla(225, 42%, 20%, 1);
	--mid: hsla(234, 9%, 60%, 1);
	--mid-hover: hsla(234, 10%, 50%, 1);
	--light: hsla(234, 9%, 95%, 1);
	--white: hsla(234, 0%, 100%, 1);

	--article-margin: 0.4rem;
	--article-padding: 1.7rem 3.26rem 2rem;
	--header-padding: 1.15rem 3.26rem 0.8rem;

	--h1-size: 2.87rem;
	--h2-size: 2.2rem;
	--h3-size: 1.69rem;
	--h3point4-size: 1.45rem;
	--h4-size: 1.3rem;

	--body-copy-size: 1rem;
	--body-copy-weight: 400;
	--body-copy-spacing: 0.02rem;

	--bold-copy-weight: 700;
	--light-copy-weight: 300;

	--small-copy-weight: 340;
	--small-copy-size: 0.75rem;

	--label-weight: 500;
}

html {
	/* font-size: 62.5%; */
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
	font-size: var(--body-copy-size);
	line-height: 1.618;
	max-width: 80em;
	margin: auto;
	color: var(--dark);
	letter-spacing: var(--body-copy-spacing);
	background-color: var(--white);
	padding: 0;
}

/* @media (max-width: 684px) {
	body {
		font-size: 1.53rem;
	}
}

@media (max-width: 382px) {
	body {
		font-size: 1.35rem;
	}
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-kerning: normal;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: var(--bold-copy-weight);
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
}

h1 {
	font-size: var(--h1-size);
	letter-spacing: 0.2rem;
	margin: 0 0 1.5rem 0;
	font-style: italic;
}

h2 {
	font-size: var(--h2-size);
	letter-spacing: 0.05rem;
	margin: 0 0 1.15rem 0;
}

h3 {
	font-size: var(--h3-size);
	letter-spacing: 0.1rem;
	margin: 0 0 0.88rem 0;
}

h4 {
	font-size: var(--h4-size);
	letter-spacing: 0.03rem;
	margin: 0 0 0.5rem 0;
}

h5 {
	font-size: var(--h5-size);
	margin: 0 0 0.52rem 0;
}

h6 {
	font-size: 1em;
	margin: 0 0 0.4rem 0;
}

p {
	margin-top: 0px;
	margin-bottom: 1.5rem;
	letter-spacing: 0.04rem;
}

.small-copy {
	font-size: var(--small-copy-size);
	/* font-weight: var(--light-copy-weight); */
	/* letter-spacing: 0.06rem; */
}

small,
sub,
sup {
	/* font-size: var(--small-copy); */
}

hr {
	border-color: transparent;
	margin: 0.5rem;
}

a {
	text-decoration: none;
	color: var(--mid);
	fill: none;
}

a:visited {
	color: var(--mid);
	fill: none;
}

a:hover,
a:focus {
	color: var(--mid-hover);
	/* border-bottom: 2px solid #4a4a4a; */
}

ul {
	list-style-type: none;
	padding-left: 0.5em;
	margin-top: 0px;
	margin-bottom: 1 rem;
}

li {
	margin-bottom: 0.4em;
}

blockquote {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 1em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 0.8em;
	border-left: 5px solid var(--accent);
	margin-bottom: 2.5rem;
	background-color: var(--white);
}

blockquote p {
	margin-bottom: 0;
}

img,
video {
	height: auto;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
	background-color: var(--white);
	display: block;
	padding: 1em;
	overflow-x: auto;
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

code {
	font-size: 0.9em;
	padding: 0 0.5em;
	background-color: var(--white);
	white-space: pre-wrap;
}

pre > code {
	padding: 0;
	background-color: transparent;
	white-space: pre;
}

/* Tables */
table {
	text-align: justify;
	width: 100%;
	border-collapse: collapse;
}

td,
th {
	padding: 0.5em;
	border-bottom: 1px solid var(--white);
}

/* Buttons, forms and input */
input,
textarea {
	background-color: var(--white);
}
input:focus,
textarea:focus {
	border: 1px solid var(--accent);
}

textarea {
	width: 100%;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
	display: inline-block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background-color: var(--accent);
	color: var(--dark);
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	font-size: var(--small-copy-size);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 500;
}
.button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
	cursor: default;
	opacity: 0.5;
}
.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type='submit']:focus:enabled,
input[type='submit']:hover:enabled,
input[type='reset']:focus:enabled,
input[type='reset']:hover:enabled,
input[type='button']:focus:enabled,
input[type='button']:hover:enabled {
	background-color: var(--accent-hover);
	border-color: var(--accent-hover);
	outline: none;
}

textarea,
select,
input {
	color: var(--dark);
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: var(--body-copy-size);
	letter-spacing: var(--body-copy-spacing);
	padding: 6px 10px;
	/* The 6px vertically centers text on FF, ignored by Webkit */
	margin-bottom: 10px;
	background-color: var(--white);
	border: none;
	border-radius: 0px;
	box-shadow: none;
	box-sizing: border-box;
}

input.fermentation-name,
input.device-name {
	width: 100%;
}

textarea:focus,
select:focus,
input:focus {
	border: 1px solid var(--accent);
	outline: 0;
}

input[type='checkbox']:focus {
	outline: 1px dotted var(--accent);
}

input[type='radio'] {
	margin: 0 1rem 0 0.2rem;
}

label,
legend,
fieldset,
.label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: var(--label-weight);
	font-size: var(--h4-size);
	letter-spacing: var(--body-copy-);
	color: var(--mid);
}

.p-style {
	color: var(--dark);
	font-size: var(--body-copy-size);
	letter-spacing: var(--body-copy-spacing);
}
