a.edit {
	color: var(--mid);
	visibility: hidden;
}

article p {
	color: var(--mid);
}

article .small-copy {
	font-size: 0.9rem;
}

article h4 {
	margin-bottom: 0.23rem;
}

span.plus {
	color: var(--accent);
	font-size: var(--h2-size);
	font-weight: var(--bold-copy-weight);
	line-height: 0.8;
}

span.plus + h4 {
	font-size: var(--h3point4-size);
	display: inline-block;
	color: var(--mid);
}

span.plus + h4:hover {
	color: var(--mid-hover);
}
