header {
	margin-bottom: var(--article-margin);
	background-color: var(--light);
	border-top: 0.6em solid var(--dark);
	padding: var(--header-padding);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	color: var(--accent);
	font-size: var(--h1-size);
	margin-bottom: 0;
  font-style: normal;
		letter-spacing: 0.3rem;
}

header a:hover {
	color: red;
	border-bottom: 0;
}

header > a {
	display: flex;
	margin-bottom: 0;
}
/* 
header > div.icon-container {
	display: flex;
} */

header svg {
	height: 1.4rem;
	margin: 0.9rem 2rem auto 6rem;
	/* margin: 1rem 2rem 1rem 6rem; */
	fill: var(--accent);
}

nav {
	position: absolute;
	top: -500px;
}

div.graph-container {
	width: 100%;
	height: 300px;
}

article {
	background-color: var(--light);
	margin-bottom: var(--article-margin);
	padding: var(--article-padding);
}

/* article.edit > h3 {
	margin: 0;
} */

article.edit a {
	color: var(--mid);
	font-size: 2.34rem;
}
article.edit a:hover {
	color: var(--mid-hover);
}

footer {
	color: var(--light);
	background-color: var(--dark);
	padding: var(--article-padding);
}

footer a,
footer a:visited {
	color: var(--light);
}
