/* ==================================== header ======================================== */

header {
	margin-bottom: var(--article-margin);
	background-color: var(--light);
	border-top: 0.7em solid var(--dark);
	padding: var(--header-padding);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	color: var(--accent);
	font-size: var(--h1-size);
	margin-bottom: 0;
	font-style: normal;
	letter-spacing: 0.3rem;
}

header > a {
	margin-bottom: 0;
}
/* 
header > div.icon-container {
	display: flex;
} */

/* ==================================== nav ======================================== */

nav li.topmenu > svg {
	height: 1.4rem;
	margin: 0.5625rem 1.25rem auto 3rem;
	/* margin: 1rem 2rem 1rem 6rem; */
	fill: var(--accent);
}

nav ul.submenu svg {
	height: 0.5rem;
	position: absolute;
	top: 0.5rem;
	right: 1.5rem;
}

nav ul.submenu svg polygon {
	fill: var(--mid);
}

nav ul.submenu li:hover svg polygon {
	fill: var(--mid-hover);
}

nav ul.submenu li.logged-in-as:hover svg polygon {
	fill: var(--mid);
}

nav > ul {
	display: flex;
	margin: 0;
}

nav li.topmenu {
	position: relative;
}

nav ul.submenu {
	visibility: hidden;
	opacity: 0;
	display: none;
	position: absolute;
	transition: all 0.5s ease;
	right: 0;
	padding: 1rem 0 0 0;
	width: max-content;
}

nav ul li:hover > ul,
nav ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

nav ul li:hover svg,
nav ul li ul:hover svg {
	fill: var(--accent-hover);
}

nav ul.submenu li {
	padding: 0;
	margin: 0;
	font-weight: var(--bold-copy-weight);
	background-color: var(--mid);
	border-bottom: 3px solid var(--light);
}

nav ul.submenu a,
nav ul.submenu li.logged-in-as div,
nav ul.submenu button {
	display: block;
	padding: 0.45rem 0.6rem 0.3rem;
	margin: 0;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}

nav p {
	margin: 0;
}

nav p.logged-in-as {
	font-size: 0.75rem;
	line-height: 100%;
	margin-top: 0.1rem;
	color: var(--light);
	font-weight: var(--bold-copy-weight);
	letter-spacing: 1px;
}

nav ul.submenu li:hover {
	background-color: var(--mid-hover);
}

nav ul.submenu li.logged-in-as:hover {
	background-color: var(--mid);
}

nav a,
nav a:focus,
nav a:hover,
nav a:visited {
	color: var(--dark);
}

nav button {
	background-color: transparent;
	font-size: var(--body-copy-size);
	color: var(--dark);
	font-weight: var(--bold-copy-weight);
	letter-spacing: var(--body-copy-spacing);
	line-height: 1.618;
	text-transform: none;
	padding: 0;
	outline: 0;
	border: none;
}

nav button:focus:enabled,
nav button:hover:enabled {
	background-color: transparent;
	color: var(--dark);
}

/* ==================================== article misc etc. ======================================== */

div.graph-container {
	width: 100%;
	height: 300px;
}

article {
	background-color: var(--light);
	margin-bottom: var(--article-margin);
	padding: var(--article-padding);
}

article.edit {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

article.edit h3,
article.edit h4 {
	margin-bottom: 0;
	font-size: var(--h3point4-size);
}

article.edit a {
	color: var(--mid);
}

article.edit a:hover {
	color: var(--mid-hover);
}

.radio-container {
	display: flex;
	margin-bottom: 0.55rem;
}

article > p:last-child {
	margin-bottom: 0;
}

article.flash {
	flex: 0;
}

article.flex-grow {
	flex-grow: 1;
}

/* ================================== temp graph ========================================== */

svg > path {
	stroke: var(--accent);
}

/* ================================== forms & button ========================================== */

article button {
	margin-top: 1rem;
	display: block;
}

article > form > button.danger {
	background-color: var(--mid);
	/* color: var(--accent-hover); */
	margin-top: 0;
	margin-bottom: -0.4rem;
}

button.danger:hover,
button.danger:focus {
	background-color: red;
}

/* ================================== flashes ========================================== */

article.flash {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

article.flash p,
article.flash button {
	margin: 0;
}

article.flash button {
	width: 1.5rem;
	height: 1.5rem;
	font-size: calc(var(--small-copy-size) * 1.2);
	line-height: 1.5;
	padding: 0;
	color: transparent;
	text-shadow: var(--dark) 1px -1px;
}

/* ================================== footer ========================================== */

footer {
	color: var(--light);
	background-color: var(--dark);
	padding: var(--article-padding);
	display: flex;
	justify-content: space-around;
	width: 100%;
	box-sizing: border-box;
}

footer div.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 20%;
	display: flex;
	justify-content: center;
}

footer div.container:last-of-type {
	justify-content: flex-end;
}

footer svg {
	fill: var(--light);
	height: 3rem;
}

footer ul,
footer p {
	margin: 0;
	padding-left: 0;
}

footer a,
footer a:visited {
	color: var(--light);
}

footer a,
footer p {
	font-size: var(--small-copy-size);
	font-weight: var(--small-copy-weight);
}
