extends ../layout

block content

	if (editingExhisitngFermentation)
		h1 Edit Fermentation 
	else 
		h1 Add New Fermentation

	- const f = fermentation ? fermentation : false;
	- const actionPath = fermentation ? `?${fermentation.id}/update` : 'add';

	form(action=`fermentation/${actionPath}` method="PUT") 

		label(for="name") Name
		input(type="text" name="name" value= f ? f.name : '' required)
		br
		label(for="description") Description
		textarea(name="description" rows=5 columns=33 value= f ? f.description : '')
		br
		label(for="targetFG") Target FG
		input(type="number" name="targetFG" value= f ? f.gravity.targetFG : '')
		br
		label(for="actualFG") actual FG
		input(type="number" name="actualFG" value= f ? f.gravity.actualFG : '')
		br

		button(type="submit") Submit
