extends ../layout

block content


	h1 #{fermentation.name}

	if (fermentation.description)
		p #{fermentation.description}
	
	article
		h2 Fermentation Thermal Profile

		.graph-container

	if (fermentation.recipe) 
		article
			h2 Recipe

	if (fermentation.assignedDevice) 
		article
			h2 Device
			p Device #{fermentation.assignedDevice} is assigned to #{fermentation.name}.

	//- script(src="https://d3js.org/d3.v6.min.js")
	//- include clientScripts/drawGraph.js
	